html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to left,
    #d3d3d3,
    #a9a9a9
  ); /* 그라데이션 배경 적용 */
  background-size: cover; /* 배경 이미지를 커버로 설정 */
}

body {
  font-family: 'Arial', sans-serif; /* Arial 글꼴 적용 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  color: white;
  position: relative;
  padding-bottom: 60px; /* 하단에 패딩 추가 */
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007bff; /* 테두리 색상 강조 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

header {
  margin-bottom: 40px; /* 헤더와 다음 요소 간의 여백 */
}

nav {
  margin-top: 20px; /* 네비게이션 상단 여백 */
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff; /* 버튼 배경색 */
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s; /* 배경색 변경 애니메이션 */
}

button:hover {
  background-color: #0056b3; /* 버튼 호버 시 색상 변경 */
}

section {
  padding: 20px;
  box-sizing: border-box;
}

.project-box,
.vision-box {
  background-color: rgba(0, 0, 0, 0.6); /* 박스 배경색 투명도 */
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  width: 300px; /* 박스 너비 설정 */
  text-align: left;
  color: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
  border: 1px solid rgba(255, 255, 255, 0.2); /* 테두리 스타일 */
}

.project-container,
.vision-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px; /* 하단 패딩 추가 */
}

.social-icons img {
  width: 40px;
  margin: 0 10px;
  transition: transform 0.3s; /* 이미지 변환 효과 */
}

.social-icons img:hover {
  transform: scale(1.1); /* 이미지 호버 시 확대 */
}

@media (max-width: 768px) {
  .vision-box {
    width: 100%; /* 화면이 작을 때 박스의 너비 조정 */
  }
}

.vision-box-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.vision-box {
  flex: 1;
  background-color: #333; /* 프로젝트 박스와 동일한 배경색 */
  color: white; /* 텍스트 색상을 흰색으로 변경 */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 0;
}

/* 리스트 항목의 색상도 흰색으로 변경 */
.vision-box ul li {
  color: white;
}

/* 모바일 화면에서는 세로로 쌓이도록 */
@media (max-width: 768px) {
  .vision-box-container {
    flex-direction: column;
  }
}
